.footer-text{  
    border-top: 1px solid #eef2f2;
    font-size: 12px;
    color: #ababab;
    text-align: center;
    padding: 10px 0px;}
.footer-text a {
    text-decoration: none;
    color: #3d83df;}
.footer-text a:hover {
    text-decoration: underline;}
    